<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ControladorSala</servlet-name>
        <servlet-class>com.adso.Controlador.ControladorSala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorArtista</servlet-name>
        <servlet-class>com.adso.Controlador.ControladorArtista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorObra</servlet-name>
        <servlet-class>com.adso.Controlador.ControladorObra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorSala</servlet-name>
        <url-pattern>/controladorSala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorArtista</servlet-name>
        <url-pattern>/CcntroladorArtista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorObra</servlet-name>
        <url-pattern>/controladorObra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
